/* ---------- BODY ---------- */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;

    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- MAIN LOGIN CARD ---------- */
.main-card {
    width: 900px;
    background: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    overflow: hidden;
}

/* Left side */
.left {
    width: 50%;
    padding: 40px;
}

/* Right side image */
.right {
    width: 50%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 220px;
    margin-bottom: 20px;
}

h2 {
    color: #ff7a00;
}

input {
    width: 90%;
    padding: 14px;
    margin: 15px 0;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding-left: 20px;
    font-size: 15px;
}

.btn {
    width: 95%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #ff7a00;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.create {
    margin-top: 15px;
}
.collect-btn {
    background: #ff9800;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.done-label {
    background: #4caf50;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
}
.card {
    width: 100%;
    max-width: 320px;
    margin: 15px auto;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
