<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html>
<head>
    <title>AnnSeva</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="hero">
    <div class="overlay">
        <h1>🍲 AnnSeva</h1>
        <h2>Swaad bhi, Seva bhi</h2>
        <p>Connecting surplus food to hungry hearts in real-time.</p>

        <div class="buttons">
            <a href="/register" class="btn">Get Started</a>
            <a href="/login" class="btn-outline">Login</a>
        </div>
    </div>
</body>
</html>
